footer {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--bg-navbar-footer);

  padding: 65px 20px 45px 20px;

  color: var(--text-main);
}

.footer_inner {
  width: 100%;
  max-width: 980px;

  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-row-gap: 20px;
}

.footer_privacy_p {
  grid-row-start: 3;
  width: 150px;
  max-width: 100%;
  font-size: 14px;
  cursor: pointer;
}

.footer_inner img {
  grid-row-start: 1;
}

.copyrights {
  grid-row-start: 2;
  grid-column-start: 1;
  width: 100%;
  font-size: 14px;
  width: 235px;
  max-width: 100%;
}

.contact_btn {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4; 
  
    align-self: flex-end;
  
    width: 162px;
    height: 39px;
  
    border-radius: 5px;
    background-color: var(--text-blue);
  
    cursor: pointer;
  
    color: var(--text-main);
    font-size: 16px;
    white-space: nowrap;
    letter-spacing: 1px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease;
  }

.contact_btn:hover {
  background-color: var(--grey);
  transition: all 0.3s ease;
  color: var(--bg-darker);
}

.social_icons {
    grid-row-start: 1;
    grid-column-start: 4; 
  
    display: flex;
    align-items: flex-end;
    gap: 10px;
  
    justify-content: flex-end;
  }

@media (max-width: 600px) {
  .footer_inner{
    grid-template-columns: auto;
  }
  .contact_btn {
    grid-row-start: 2;
    grid-row-end: unset;
    grid-column-start: 1;
    align-self: flex-start;
  }

  .footer_privacy_p {
    grid-row-start: 3;
    grid-column-start: 1;
  }

  .copyrights {
    grid-row-start: 4;
    grid-column-start: 1;
  }

  .social_icons {
    grid-row-start: 2;
    grid-column-start: 3;
  }
}
