*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root{
  --text-main: #F4F4F4;
  --text-blue: #42AFF3;
  --bg-light: #2B2B2B;
  --bg-darker: #161616;
  --bg-navbar-footer: #1A1E1F;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: inherit;
}
