nav {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;

  width: 100%;
  height: 84px;

  padding: 0 20px;

  background-color: var(--bg-navbar-footer);
  color: var(--text-main);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;
}

nav.transparent{
  background-color: #222222f2;
  transition: all 0.3s ease;

}

nav.hide{
  top: -69px;
}

.navbar_inner {
  height: 100%;
  width: 100%;
  max-width: 980px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_links {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav_links_item {
  font-size: 14px;
  transition: all 0.4s ease;
}

.nav_links_active {
  color: var(--text-blue);
}

.burger-menu,
.overlay,
.res_menu_panel {
  display: none;
}

@media (hover: hover) {
  .nav_links_item:hover{
    color: var(--text-blue);
  }
}

@media (max-width: 700px) {
  nav {
    height: 69px;
  }

  .nav_links {
    display: none;
  }

  nav svg {
    width: 130px;
    height: 29px;
  }

  .burger-menu {
    position: relative;
    z-index: 52;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    height: 28px;
    width: 32px;
    transition: all 0.4s ease-out;
  }

  .burger-menu.open {
    transform: rotate(-45deg);
  }

  .burger_stick_top,
  .burger_stick_bottom,
  .burger_stick_middle{
    height: 3px;

    background-color: var(--grey);
    border-radius: 10px;
  }

  .burger_stick_top {
    width: 50%;

    transform-origin: right;
    transition: transform .33s cubic-bezier(.54,-.81,.57,.57), background-color 0s;
  }

  .burger_stick_top.open {
    transform: rotate(-90deg) translateX(4px);
    background-color: #767676;
  }

  .burger_stick_middle {
    width: 100%;
  }

  .burger_stick_middle.open {
    width: 100%;
    background-color: #767676;
  }

  .burger_stick_bottom {
    width: 50%;

    align-self: flex-end;

    transform-origin: left;
    transition: transform .33s cubic-bezier(.54,-.81,.57,.57), background-color 0s;   
  }

  .burger_stick_bottom.open {
    transform: rotate(-90deg) translateX(-4px);
    background-color: #767676;
  }  

  .overlay{
    display: block;
    visibility: hidden;
    opacity: 0;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 51;

    width: 100%;
    height: 100vh;

    background-color: rgba(22, 22, 22, 0.62);
    transition: all 0.3s ease;
  }

  .overlay.open{
    visibility: visible;
    opacity: 1;

    transition: all 0.3s ease;
  }

  .res_menu_panel{
    position: fixed;
    right: -60%;
    top: 0;
    z-index: 51;

    opacity: 0.4;

    padding: 100px 15px 0 0;

    box-sizing: border-box;
    height: 100vh;
    width: 60%;

    display: flex;
    flex-direction: column;
    background-color: #222222;

    transition: all 0.3s ease-in-out;
  }

  .res_menu_panel.open{
    right: 0;
    opacity: 1;
  }

  .nav_links_responsive{
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  .nav_links_item{
    font-size: 14px;
    align-self: flex-end;
  }
}
