.section_fourth{
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
    padding: 40px 20px 80px 20px;

    background-color: var(--bg-light);

    color: var(--text-main);
}

.section_fourth_inner{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}

.slider_title{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 100px;
}

.slider_container{
    width: 100%;
    min-height: 80px;
    margin: 0 auto;
    position: relative;
}

.slider{
    position: relative;
    min-height: 80px;
    width: 100%;
    height: 100%;

    margin: 0 auto;
}

.slide{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    opacity: 0;
    transition: all 1s cubic-bezier(.37,0,.63,1);
}

.active_slide{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    opacity: 1;
    transition: all 1s cubic-bezier(.37,0,.63,1);
}

.slide3{
    justify-content: center;
}


#leftBtn{
    position: absolute;
    fill: var(--grey);
    height: 35px;
    
    left: -100px;
    top: 50%;
    transform: translateY(-50%);

    cursor: pointer;
}

#rightBtn{
    position: absolute;
    fill: var(--grey);
    height: 35px;
    
    right: -100px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);

    cursor: pointer;
}

.dots{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.dot{
    width: 6px;
    height: 6px;

    border-radius: 50%;

    background-color: var(--grey);
    cursor: pointer;
}

@media (max-width:800px) {
    .slide img{
        width: 200px;
        height: auto;
    }
}


@media (max-width:600px) {
    .slide img{
        width: auto;
        height: auto;
    }
    .slider_title{
        text-align: center;
        font-size: 20px;
        margin-bottom: 50px;
    }

    #leftBtn{
        display: none;
    }
    
    #rightBtn{
        display: none;
    }

    .dot{
        width: 8px;
        height: 8px;
    }

    .slider{
        min-height: 320px;
        display: flex;
    }

    .slide{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 50px;
    
        opacity: 0;
        transition: unset;
    }

    .active_slide{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 50px;
    
        opacity: 1;
        transition: all 1s cubic-bezier(.37,0,.63,1);
    }


    .slide3{
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    
}